.input-group{
    float: right;
}
.card{
    display: inline-flex;
}
.btn-group{
    padding:10px 30px
}
body{
    background-image: url("https://media.giphy.com/media/vtiZDfso80MSI/giphy.gif");
    font-family: 'Merriweather Sans', sans-serif;

}